.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 98%;
  margin-top: 10em;
}

/* .crl {
  padding-bottom: 5em;
} */

.crl h3 {
  /* color: linear-gradient(90deg, rgba(146, 95, 2, 1), rgba(163, 126, 15, 0.82), #fde879) */
  color: black;
}

.crl img {
  padding-bottom: 8em;

}