/* .cardCar {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  background-color: aqua;
}

.bodyCard {
  background-color: blue;
  width: 15em;
  height: 20em;
} */

.imageCard {
  /* background-color: red; */
  /* width: 12em; */
  height: 12em;
}

/* .container {
  background-color: blueviolet;
} */